div#board {
    margin-left: auto;
    margin-right: auto;
    height: 614px;
    width: 614px;
    background: #772323;
    /* box-sizing: border-box; */
    border: 5px solid red;
    /* transition: ease-in-out 3s all; */
    /* animation-name: changeTurn;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;  */
    /* transform: rotateX(90deg); */
    }

.game {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(235,235,235,1);
    box-shadow: 0px 0px 20px 0px rgba(235,235,235,1);
    border: 3px solid black;
    background-color: #a7a7a7;
    padding: 20px 35px;
    font-size: 27px;
    margin: 0 23px;
}

.square {
    height: 75px;
    width: 75px;
    float: left;
    margin: 1px;
    cursor: pointer;
    box-sizing: border-box;
}

.square:nth-child(8n+1) {margin-left: 0;}
.square:nth-child(8n) {margin-right: 0;}
/* .square:first-child {
    margin-top: 20px;
} */

.squareA {
    border: 3px solid #0c697b;
}

.black_pawn {
    background-image: url(../img/pawn_b.png);
    image-resolution: 75px 75px;
}

.white_pawn {
    background-image: url(../img/pawn_w.png);
    image-resolution: 75px 75px;;
}

.black_queen {
    background-image: url(../img/queen_b.png);
    image-resolution: 75px 75px;;
}

.white_queen {
    background-image: url(../img/queen_w.png);
    image-resolution: 75px 75px;;
}

.square {
	background-color: black;
}

@keyframes changeTurn {
    20% {transform: rotate3d(20, 5, -3, 55deg);}
    80% {transform: rotate3d(180, 50, 270, 180deg);}
}

